<!doctype html>
<html lang="en">
<!-- TradingView Widget BEGIN -->
{% block main %}
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank">
    <span class="blue-text">
    Quotes</span> by TradingView</a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "description": "Dow Jones",
      "proName": "DJ:DJI"
    },
    {
      "description": "S&P 500",
      "proName": "INDEX:SPX\t"
    },
    {
      "description": "NASDAQ 100",
      "proName": "INDEX:IUXX"
    },
    {
      "description": "BTC/USD",
      "proName": "BITFINEX:BTCUSD"
    },
    {
      "description": "ETH/USD",
      "proName": "BITFINEX:ETHUSD"
    }
  ],
  "locale": "en",
  // "linkPageTemplate": "file:///Users/bloom/Desktop/steel/templates/wtf.html"
}
  </script>
</div>
<!-- TradingView Widget END -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>CryptosAbyss</title>

    <!-- Bootstrap core CSS will see above in the tab, not on the page-->
  <!--   <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
<!--     <link href="dashboard.css" rel="stylesheet"> -->
  </head>
{% endblock main %}


  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">CryptosAbyss</a>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/">Sign out</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="homepage">
                  <span data-feather="home"></span>
                  Home <span class="sr-only">(current)</span>

              </li>
                <br><br>
                <br><br>
              </div>
            </div>
          </div>

          <div>
              <object type="text/html" data="http://0.0.0.0:7000/" width="1000px" height="600px" style="overflow:auto;border:5px ridge blue">
              </object>

              </object>

          </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/graph">
                  <span data-feather="file"></span>
                  Click the link you want to see a Graph of
          </a>
          </div>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5002">
                  <span data-feather="file"></span>
                  AAPL
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5003">
                  <span data-feather="file"></span>
                  C
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5004">
                  <span data-feather="file"></span>
                  DIA
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5005">
                  <span data-feather="file"></span>
                  EWJ
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5006">
                  <span data-feather="file"></span>
                  FDN
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5007">
                  <span data-feather="file"></span>
                  GBCH
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5008">
                  <span data-feather="file"></span>
                  GBIT
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5009">
                  <span data-feather="file"></span>
                  GLBO
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5002">
                  <span data-feather="file"></span>
                  GBTK
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5010">
                  <span data-feather="file"></span>
                  GCOMP
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5011">
                  <span data-feather="file"></span>
                  GCRYP
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5012">
                  <span data-feather="file"></span>
                  GE
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5013">
                  <span data-feather="file"></span>
                  GETHER
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5014">
                  <span data-feather="file"></span>
                  GLD
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5015">
                  <span data-feather="file"></span>
                  GMAF
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5016">
                  <span data-feather="file"></span>
                  GOOG
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5017">
                  <span data-feather="file"></span>
                  GPRES
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5018">
                  <span data-feather="file"></span>
                  GSATO
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5019">
                  <span data-feather="file"></span>
                  GTRA
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5020">
                  <span data-feather="file"></span>
                  GTRMP
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5021">
                  <span data-feather="file"></span>
                  IWM
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5023">
                  <span data-feather="file"></span>
                  IWY
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5024">
                  <span data-feather="file"></span>
                  JPM
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5025">
                  <span data-feather="file"></span>
                  ROBO
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5026">
                 <span data-feather="file"></span>
                  SPY
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5027">
                  <span data-feather="file"></span>
                  TLT
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5028">
                  <span data-feather="file"></span>
                  UNG
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5029">
                  <span data-feather="file"></span>
                  USO
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5030">
                  <span data-feather="file"></span>
                  VGT
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5031">
                  <span data-feather="file"></span>
                  XLE
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5032">
                  <span data-feather="file"></span>
                  XLK
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5033">
                  <span data-feather="file"></span>
                  XLU
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5034">
                  <span data-feather="file"></span>
                  XLY
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5035">
                  <span data-feather="file"></span>
                  YBIT
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5036">
                  <span data-feather="file"></span>
                  YBLO
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5037">
                  <span data-feather="file"></span>
                  YIB
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5038">
                  <span data-feather="file"></span>
                  YBLO
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5039">
                  <span data-feather="file"></span>
                  YIB
                </a>
          </li>
          <li class="nav-item">
                <a class="nav-link" href="http://0.0.0.0:5040">
                  <span data-feather="file"></span>
                  YMAF
                </a>
          </li>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  </body>
</html>
