<!doctype html>
<html lang="en">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"> -->
    <!-- <span class="blue-text"> -->
    Quotes</span> by TradingView</a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
  {
  "symbols": [
    {
      "description": "Dow Jones",
      "proName": "DJ:DJI"
    },
    {
      "description": "S&P 500",
      "proName": "INDEX:SPX\t"
    },
    {
      "description": "NASDAQ 100",
      "proName": "INDEX:IUXX"
    },
    {
      "description": "BTC/USD",
      "proName": "BITFINEX:BTCUSD"
    },
    {
      "description": "ETH/USD",
      "proName": "BITFINEX:ETHUSD"
    }
  ],
  "locale": "en",
  "linkPageTemplate": "file:///Users/bloom/Desktop/steel/templates/wtf.html"
}
  </script>
</div>
<!-- TradingView Widget END -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Anacott Steel</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

  <body>
    <!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav> -->


<html>
<body>

<h2>Chose Comparisons</h2>

{% block main %}

<p>First Select Stock or Contemporary Phenonemon</p>

<form name="dropdown">
  <select name="list">
    <option value="   -   ">   -   </option>
    <option value="stock.html">Stock</option>

    <option value="github.html">Twitter</option>
    <option value="anotherthing2">Another thing 2</option>
    <option value="anotherthing3">Another thing 3</option>
    <option value="nasdaq">Nasdaq</option>
  </select>
  <br><br>
  <br><br>
  <br><br>

</form>
{% endblock main %}
<p>Select your Cryptocurrency</p>

<form action="/action_page.php">
  <select name="Currencies">
    <option value="   -   ">   -   </option>
    <option value="Bitcoin">Bitcoin</option>
    <option value="litecoin">Litecoin</option>
    <option value="Ethereum">Ethereum</option>
    <option value="Zcash">Zcash</option>
    <option value="Ripple">Ripple</option>
    <option value="monery">Monero</option>
  </select>
  <br><br>
  <br><br>
  <br><br>

</form>

<p>Enter your START date in the format of "YYYY-MM-DD"</p>

    <form action = "/start" method = "post">
      <input name = "coname" placeholder = "YYYY-MM-DD" type="text">
      <!-- <input type = "submit"> -->
  </select>

<p>Enter your END date in the format of "YYYY-MM-DD"</p>

<form action = "/end" method = "post">
      <input name = "coname" placeholder = "YYYY-MM-DD" type="text">
      <!-- <input type = "submit"> -->
  </select>
  <br><br>
</form>

      <h1><input type="submit"></h1>

</form>

</body>
</html>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Bam!</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Print</button>
                <br><br>
                <button class="btn btn-sm btn-outline-secondary">Export to Excel</button>
                <br><br>
                <br><br>
                <br><br>
              </div>
            </div>
          </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
          datasets: [{
            data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 6,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>
  </body> -->
  <a href= "https://www.coindesk.com/price">Powered by CoinDesk</a>
</html>
